
body{
  //font
  font-family: "TT Travels", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #5c5c5c;

  @include adaptiv-font(22, 16);
}

.wrapper {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  all: unset;
  display: inline-block; /* або block/inline-flex, в залежності від потреб */
  cursor: pointer;
}