@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Jost:700);
@font-face {
  font-family: "Xolonium";
  src: local("Xolonium"), url("../fonts/Xolonium-Bold.woff2") format("woff2"), url("../fonts/Xolonium-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-Bold.woff2") format("woff2"), url("../fonts/TTTravels-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-DemiBold.woff2") format("woff2"), url("../fonts/TTTravels-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-Medium.woff2") format("woff2"), url("../fonts/TTTravels-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-Regular.woff2") format("woff2"), url("../fonts/TTTravels-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "TT Travels", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #5c5c5c;
}
@media (max-width: 767px) {
  body {
    font-size: calc(16px + 10.2 * (100vw - 320px) / 1550);
  }
}
@media (min-width: 767px) {
  body {
    font-size: calc(16px + 6 * 100vw / 1550);
  }
}

.wrapper {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  all: unset;
  display: inline-block; /* або block/inline-flex, в залежності від потреб */
  cursor: pointer;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 10px;
}
.nav__items {
  display: flex;
  gap: 40px;
}
.nav__link {
  font-family: "TT Travels", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  display: block;
}
.nav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}
.nav__link:active {
  color: gray;
}
@media (max-width: 767px) {
  .nav__link {
    font-size: calc(16px + 3.4 * (100vw - 320px) / 1550);
  }
}
@media (min-width: 767px) {
  .nav__link {
    font-size: calc(16px + 2 * 100vw / 1550);
  }
}
.nav__body {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 849px) {
  .nav__list {
    gap: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.logo {
  z-index: 3;
}
.logo__link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__img {
  max-width: 105px;
  width: 87.5%;
  height: auto;
  display: block;
}
.logo__text {
  font-family: "Xolonium", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .logo__text {
    font-size: calc(12px + 13.6 * (100vw - 320px) / 1550);
  }
}
@media (min-width: 767px) {
  .logo__text {
    font-size: calc(12px + 8 * 100vw / 1550);
  }
}
@media only screen and (max-width: 1199px) {
  .logo__text {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .logo__text {
    display: inherit;
  }
}

.comunication {
  background-color: #FFDC42;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  height: 64px;
}
.comunication:active {
  background-color: #c4a418;
}
.comunication__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.comunication__text {
  font-family: "TT Travels", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #191919;
}
@media (max-width: 767px) {
  .comunication__text {
    font-size: calc(13px + 11.9 * (100vw - 320px) / 1550);
  }
}
@media (min-width: 767px) {
  .comunication__text {
    font-size: calc(13px + 7 * 100vw / 1550);
  }
}

.burger-menu {
  display: none;
  width: 45px;
  height: 50px;
  cursor: pointer;
}
.burger-menu__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 45px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.burger-menu__icon span, .burger-menu__icon::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background-color: #FFDC42;
  transition: all 0.3s ease;
}
.burger-menu__icon::after {
  top: 35px;
  width: 24px;
}

@media only screen and (max-width: 767px) {
  .burger-menu {
    display: flex;
  }
}
.open .burger-menu__icon::after {
  transform: rotate(45deg);
  bottom: 10px;
  width: 40px;
}
.open .burger-menu__icon span {
  transform: rotate(-45deg);
  top: 35px;
}
.open .nav {
  display: flex;
}
.open .nav__body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #191919;
  padding: 110px 0;
  overflow: auto;
}
.open .nav__list {
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.open .nav__link {
  font-size: 18px;
}
.open .comunication {
  display: flex;
  margin: 0 5%;
  z-index: 3;
  position: absolute;
  bottom: 20px;
  width: 90%;
}
.open .comunication__link {
  width: 100%;
}

.header {
  background-color: #89AF5C;
}
.header__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header__comunication {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */