@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Jost:700);
@font-face {
  font-family: "Xolonium";
  src: local("Xolonium"), url("../fonts/Xolonium-Bold.woff2") format("woff2"), url("../fonts/Xolonium-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-Bold.woff2") format("woff2"), url("../fonts/TTTravels-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-DemiBold.woff2") format("woff2"), url("../fonts/TTTravels-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-Medium.woff2") format("woff2"), url("../fonts/TTTravels-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels";
  src: local("TTTravels"), url("../fonts/TTTravels-Regular.woff2") format("woff2"), url("../fonts/TTTravels-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div, a, p {
  box-sizing: border-box;
}

body {
  font-family: "TT Travels", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #5c5c5c;
}
@media (max-width: 767px) {
  body {
    font-size: clamp(16px, 16px + 10.2 * (100vw - 390px) / 1550, 22px);
  }
}
@media (min-width: 767px) {
  body {
    font-size: clamp(16px, 16px + 6 * 100vw / 1550, 22px);
  }
}
@media only screen and (max-width: 1199px) {
  body {
    font-size: 16px;
  }
}

body._lock {
  overflow: hidden; /* Це заборонить прокрутку сторінки */
}

.revers {
  flex-direction: row-reverse;
}

.wrapper {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  line-height: 1.3;
  color: #191919;
}
@media (max-width: 767px) {
  .title {
    font-size: clamp(22px, 22px + 30.6 * (100vw - 390px) / 1550, 40px);
  }
}
@media (min-width: 767px) {
  .title {
    font-size: clamp(22px, 22px + 18 * 100vw / 1550, 40px);
  }
}
@media only screen and (max-width: 1199px) {
  .title {
    font-size: 22px;
  }
}
.title mark {
  color: #89AF5C;
  background-color: transparent;
}
.title__span {
  display: inline-block;
  position: relative;
  width: 10px;
  margin-left: 15px;
  border-radius: 50px;
  height: 3px;
  background-color: #89AF5C;
}
.title__span::after, .title__span::before {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 50px;
  height: 3px;
  background-color: #89AF5C;
}
.title__span::after {
  left: 15px;
  width: 70px;
}
.title__span::before {
  right: 15px;
  width: 10px;
}

.yellow-title {
  color: #fff;
}
.yellow-title mark {
  color: #FFDC42;
}
.yellow-title span,
.yellow-title ::after,
.yellow-title ::before {
  background-color: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  all: unset;
  display: inline-block; /* або block/inline-flex, в залежності від потреб */
  cursor: pointer;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-right: 10px;
}
@media only screen and (max-width: 849px) {
  .nav__list {
    gap: 10px;
  }
}
.nav__items {
  display: flex;
  gap: 40px;
}
.nav__link {
  font-family: "TT Travels", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  display: block;
}
.nav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}
.nav__link:active {
  color: gray;
}
@media (max-width: 767px) {
  .nav__link {
    font-size: clamp(16px, 16px + 3.4 * (100vw - 390px) / 1550, 18px);
  }
}
@media (min-width: 767px) {
  .nav__link {
    font-size: clamp(16px, 16px + 2 * 100vw / 1550, 18px);
  }
}
.nav__body {
  display: flex;
  justify-content: space-between;
}

.logo {
  z-index: 3;
}
.logo__link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__img {
  height: auto;
  display: block;
  width: 105px;
}
@media (max-width: 1550px) {
  .logo__img {
    width: calc(80px + 25 * (100vw - 390px) / 1160);
  }
}
.logo__text {
  font-family: "Xolonium", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .logo__text {
    font-size: clamp(12px, 12px + 13.6 * (100vw - 390px) / 1550, 20px);
  }
}
@media (min-width: 767px) {
  .logo__text {
    font-size: clamp(12px, 12px + 8 * 100vw / 1550, 20px);
  }
}
@media only screen and (max-width: 1199px) {
  .logo__text {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .logo__text {
    display: inherit;
  }
}

.comunication__link {
  background-color: #FFDC42;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 25px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.comunication__link:active {
  background-color: #c4a418;
}
.comunication__text {
  font-family: "TT Travels", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #191919;
}
@media (max-width: 767px) {
  .comunication__text {
    font-size: clamp(14px, 14px + 10.2 * (100vw - 390px) / 1550, 20px);
  }
}
@media (min-width: 767px) {
  .comunication__text {
    font-size: clamp(14px, 14px + 6 * 100vw / 1550, 20px);
  }
}
@media only screen and (max-width: 767px) {
  .comunication__text {
    font-size: 20px;
  }
}

.burger-menu {
  display: none;
  width: 45px;
  height: 50px;
  cursor: pointer;
}
.burger-menu__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 45px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.burger-menu__icon span, .burger-menu__icon::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background-color: #FFDC42;
  transition: all 0.3s ease;
}
.burger-menu__icon::after {
  top: 35px;
  width: 24px;
}

@media only screen and (max-width: 767px) {
  .burger-menu {
    display: flex;
  }
}
.open .burger-menu__icon::after {
  transform: rotate(45deg);
  bottom: 10px;
  width: 40px;
}
.open .burger-menu__icon span {
  transform: rotate(-45deg);
  top: 35px;
}
.open .nav {
  display: flex;
}
.open .nav__body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #191919;
  padding: 110px 0;
  overflow: auto;
}
.open .nav__list {
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding-left: 60px;
}
@media (max-width: 1550px) {
  .open .nav__list {
    padding-left: calc(30px + 30 * (100vw - 390px) / 1160);
  }
}
.open .nav__link {
  font-size: 18px;
}
.open .comunication {
  display: flex;
  margin: 0 5%;
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 450px;
  width: 90%;
}
.open .comunication__link {
  width: 100%;
}

.download {
  gap: 15px 35px;
}
.download__item {
  width: 100%;
}
.download__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}
@media (max-width: 1550px) {
  .download__link {
    padding: calc(12px + 8 * (100vw - 390px) / 1160);
  }
}
.download__img {
  width: 62px;
}
@media (max-width: 1550px) {
  .download__img {
    width: calc(37px + 25 * (100vw - 390px) / 1160);
  }
}
.download__text {
  color: #191919;
  font-weight: 700;
  line-height: 1.875;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .download__text {
    font-size: clamp(10px, 10px + 5.1 * (100vw - 390px) / 1550, 13px);
  }
}
@media (min-width: 767px) {
  .download__text {
    font-size: clamp(10px, 10px + 3 * 100vw / 1550, 13px);
  }
}
@media (max-width: 767px) {
  .download__text strong {
    font-size: clamp(12px, 12px + 6.8 * (100vw - 390px) / 1550, 16px);
  }
}
@media (min-width: 767px) {
  .download__text strong {
    font-size: clamp(12px, 12px + 4 * 100vw / 1550, 16px);
  }
}

.plus-icon {
  position: relative;
  display: inline-block;
  width: 64px;
  /* Ширина контейнера */
  height: 64px;
  /* Висота контейнера */
  border-radius: 50%; /* Робить круглим */
}
@media (max-width: 1550px) {
  .plus-icon {
    width: calc(48px + 16 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .plus-icon {
    height: calc(48px + 16 * (100vw - 390px) / 1160);
  }
}
.plus-icon::before, .plus-icon::after {
  content: "";
  position: absolute;
  background-color: #F8E71C; /* Жовтий колір */
  border-radius: 2px; /* Зробить лінії трохи округлими */
}
.plus-icon::before {
  width: 3px; /* Ширина вертикальної лінії */
  height: 50%; /* Висота вертикальної лінії */
  top: 25%; /* Відступ зверху для центрування */
  left: 50%; /* Центр по горизонталі */
  transform: translateX(-50%); /* Корекція для центрування */
}
.plus-icon::after {
  width: 50%; /* Ширина горизонтальної лінії */
  height: 3px; /* Висота горизонтальної лінії */
  top: 50%; /* Центр по вертикалі */
  left: 25%; /* Відступ зліва для центрування */
  transform: translateY(-50%); /* Корекція для центрування */
}

.check-icon {
  position: relative;
  display: inline-block;
  width: 40px; /* Розмір кола */
  height: 40px;
  background-color: #fff;
  border-radius: 50%; /* Кругла форма */
}
.check-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 10px;
  border: solid #89AF5C; /* Колір галочки */
  border-width: 0 0 6px 6px;
  border-radius: 3px;
  transform: translate(-50%, -50%) rotate(-45deg); /* Поворот для галочки */
}

.header {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  padding-top: 30px;
}
@media (max-width: 1550px) {
  .header {
    padding-top: calc(25px + 5 * (100vw - 390px) / 1160);
  }
}
.header__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__conteiner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    border-top: 1px solid rgba(255, 255, 255, 0.19);
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .header__comunication {
    display: none;
  }
  .header__nav {
    display: none;
  }
}

.intro {
  background-color: #89AF5C;
  background-image: url(./img/intro/vector3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 230px;
  padding-bottom: 100px;
}
@media (max-width: 1550px) {
  .intro {
    padding-top: calc(114px + 116 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro {
    padding-bottom: calc(65px + 35 * (100vw - 390px) / 1160);
  }
}
.intro__conteiner {
  background-color: #FFDC42;
  border-radius: clamp(20px, 5.16vw, 80px);
  background-image: url(./img/intro/plenet.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 15px;
}
@media only screen and (max-width: 767px) {
  .intro__conteiner {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) and (max-width: 1550px) {
  .intro__conteiner {
    padding-top: calc(25px + 75 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) and (max-width: 1550px) {
  .intro__conteiner {
    padding-left: calc(15px + 85 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) and (max-width: 1550px) {
  .intro__conteiner {
    padding-bottom: calc(6px + 14 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 1023px) {
  .intro__conteiner {
    padding-right: 100px;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 1550px) {
  .intro__conteiner {
    padding-right: calc(15px + 85 * (100vw - 390px) / 1160);
  }
}
.intro__text {
  max-width: 761px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1550px) {
  .intro__text {
    padding-top: calc(25px + 75 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro__text {
    padding-left: calc(0px + 100 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro__text {
    padding-bottom: calc(0px + 100 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) {
  .intro__text {
    padding: 0;
    align-items: center;
  }
}
.intro__advantages {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 479px) {
  .intro__advantages {
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}
.intro__advanteges-item {
  color: #010101;
  border: 1px solid #010101;
  border-radius: 20px;
  display: flex;
  align-items: center;
  line-height: 1;
  letter-spacing: 0.01em;
  padding-top: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 16px;
}
@media (max-width: 767px) {
  .intro__advanteges-item {
    font-size: clamp(12px, 12px + 13.6 * (100vw - 390px) / 1550, 20px);
  }
}
@media (min-width: 767px) {
  .intro__advanteges-item {
    font-size: clamp(12px, 12px + 8 * 100vw / 1550, 20px);
  }
}
@media (max-width: 1550px) {
  .intro__advanteges-item {
    padding-top: calc(12px + 4 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro__advanteges-item {
    padding-left: calc(21px + 19 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro__advanteges-item {
    padding-right: calc(21px + 19 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro__advanteges-item {
    padding-bottom: calc(12px + 4 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) {
  .intro__advanteges-item {
    font-weight: 700;
  }
}
@media only screen and (max-width: 1199px) {
  .intro__advanteges-item {
    font-size: 12px;
  }
}
.intro__title-text {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #010101;
  width: 585px;
  margin-top: 50px;
  margin-bottom: 80px;
}
@media (max-width: 1550px) {
  .intro__title-text {
    width: calc(266px + 319 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro__title-text {
    margin-top: calc(25px + 25 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .intro__title-text {
    margin-bottom: calc(30px + 50 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 767px) {
  .intro__title-text {
    font-size: clamp(25px, 25px + 51 * (100vw - 390px) / 1550, 55px);
  }
}
@media (min-width: 767px) {
  .intro__title-text {
    font-size: clamp(25px, 25px + 30 * 100vw / 1550, 55px);
  }
}
@media only screen and (max-width: 479px) {
  .intro__title-text {
    text-align: center;
  }
}
@media only screen and (max-width: 1199px) {
  .intro__title-text {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 767px) {
  .intro__title-text {
    font-size: clamp(25px, 25px + 51 * (100vw - 390px) / 1550, 55px);
  }
}
@media only screen and (max-width: 1023px) and (min-width: 767px) {
  .intro__title-text {
    font-size: clamp(25px, 25px + 30 * 100vw / 1550, 55px);
  }
}
.intro__download {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .intro__download {
    flex-wrap: wrap;
  }
}
.intro__img {
  text-align: end;
}
@media only screen and (max-width: 1023px) {
  .intro__img {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .intro__img {
    display: inherit;
  }
}
.intro__img img {
  margin-top: 20px;
  transform: translateY(2%);
  width: 630px;
}
@media (max-width: 1550px) {
  .intro__img img {
    width: calc(300px + 330 * (100vw - 390px) / 1160);
  }
}

.servers {
  padding-top: 140px;
  padding-bottom: 160px;
}
@media (max-width: 1550px) {
  .servers {
    padding-top: calc(65px + 75 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .servers {
    padding-bottom: calc(50px + 110 * (100vw - 390px) / 1160);
  }
}
.servers__conteiner {
  display: flex;
  flex-direction: column;
  gap: 300px;
  gap: 300px;
}
@media (max-width: 1550px) {
  .servers__conteiner {
    gap: calc(50px + 250 * (100vw - 390px) / 1160);
  }
}
@media only screen and (min-width: 768px) {
  .servers__conteiner :nth-child(even) {
    flex-direction: row-reverse;
  }
}
.servers__content-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 767px) {
  .servers__content-conteiner {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .servers__content {
    width: 760px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1550px) {
  .servers__content {
    width: calc(500px + 260 * (100vw - 390px) / 1160);
  }
}
.servers__title {
  margin-bottom: 45px;
}
@media (max-width: 1550px) {
  .servers__title {
    margin-bottom: calc(40px + 5 * (100vw - 390px) / 1160);
  }
}
.servers__text p {
  margin-bottom: 40px;
}
@media (max-width: 1550px) {
  .servers__text p {
    margin-bottom: calc(20px + 20 * (100vw - 390px) / 1160);
  }
}
.servers__security-info {
  display: flex;
  gap: 24px;
}
.servers__security-info p {
  color: #89AF5C;
}
@media (max-width: 767px) {
  .servers__security-info p {
    font-size: clamp(14px, 14px + 6.8 * (100vw - 390px) / 1550, 18px);
  }
}
@media (min-width: 767px) {
  .servers__security-info p {
    font-size: clamp(14px, 14px + 4 * 100vw / 1550, 18px);
  }
}
.servers__security-info img {
  width: 65px;
  height: auto;
}
.servers__img {
  max-width: 100%;
}
.servers__img img {
  width: 100%;
}

.left-border {
  border-left: 1px solid #000;
  padding-left: 30px;
}

.gadgets {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #89AF5C;
  background-image: url(./img/gadgets/gadgets-vector.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1550px) {
  .gadgets {
    padding-top: calc(65px + 35 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .gadgets {
    padding-bottom: calc(50px + 50 * (100vw - 390px) / 1160);
  }
}
.gadgets__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gadgets__title {
  margin-bottom: 45px;
}
@media (max-width: 1550px) {
  .gadgets__title {
    margin-bottom: calc(40px + 5 * (100vw - 390px) / 1160);
  }
}
.gadgets__text, .gadgets__title h2 {
  color: #fff;
  max-width: 1023px;
}
@media (max-width: 1550px) {
  .gadgets__text, .gadgets__title h2 {
    max-width: calc(350px + 673 * (100vw - 390px) / 1160);
  }
}
@media only screen and (min-width: 768px) {
  .gadgets__text, .gadgets__title h2 {
    text-align: center;
  }
}
.gadgets__icons {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 70px;
}
@media (max-width: 1550px) {
  .gadgets__icons {
    gap: calc(30px + 70 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .gadgets__icons {
    margin-top: calc(40px + 30 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) {
  .gadgets__icons {
    width: 60%;
  }
}
@media only screen and (max-width: 479px) {
  .gadgets__icons {
    width: 90%;
  }
}
.gadgets__icon {
  text-align: center;
}
.gadgets__icon img {
  width: 100%;
}
.gadgets__icon figcaption {
  color: #fff;
}

.safety {
  padding-top: 130px;
  margin-bottom: 120px;
}
@media (max-width: 1550px) {
  .safety {
    padding-top: calc(65px + 65 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .safety {
    margin-bottom: calc(65px + 55 * (100vw - 390px) / 1160);
  }
}
.safety__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
@media (max-width: 1550px) {
  .safety__title {
    margin-bottom: calc(40px + 30 * (100vw - 390px) / 1160);
  }
}
.safety__title h2 {
  width: 500px;
}
@media (max-width: 1550px) {
  .safety__title h2 {
    width: calc(71px + 429 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 1023px) {
  .safety__title {
    flex-direction: column;
  }
  .safety__title h2 {
    width: 100%;
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 1550px) {
  .safety__title h2 {
    margin-bottom: calc(40px + 30 * (100vw - 390px) / 1160);
  }
}
.safety__download {
  display: flex;
  min-width: 661px;
}
@media (max-width: 1550px) {
  .safety__download {
    min-width: calc(320px + 341 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) {
  .safety__download {
    flex-wrap: wrap;
  }
}
.safety__download .download__link {
  background-color: #FFDC42;
}
.safety__cards {
  display: flex;
  gap: 40px;
  flex: 0 0 33.33%;
}
@media only screen and (max-width: 1023px) {
  .safety__cards {
    flex-direction: column;
  }
}
.safety__card {
  background-color: #89AF5C;
  border-radius: 25px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
}
@media (max-width: 1550px) {
  .safety__card {
    padding-top: calc(30px + 20 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .safety__card {
    padding-left: calc(20px + 20 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .safety__card {
    padding-right: calc(20px + 20 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .safety__card {
    padding-bottom: calc(30px + 40 * (100vw - 390px) / 1160);
  }
}
.safety__card-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}
@media (max-width: 767px) {
  .safety__card-title {
    font-size: clamp(18px, 18px + 20.4 * (100vw - 390px) / 1550, 30px);
  }
}
@media (min-width: 767px) {
  .safety__card-title {
    font-size: clamp(18px, 18px + 12 * 100vw / 1550, 30px);
  }
}
@media only screen and (max-width: 1199px) {
  .safety__card-title {
    font-size: 18px;
  }
}
.safety__card-title img {
  margin-right: 30px;
  width: 100px;
}
@media (max-width: 1550px) {
  .safety__card-title img {
    width: calc(70px + 30 * (100vw - 390px) / 1160);
  }
}
.safety__card-text {
  color: #fff;
  margin-top: 40px;
}
@media (max-width: 1550px) {
  .safety__card-text {
    margin-top: calc(25px + 15 * (100vw - 390px) / 1160);
  }
}

.question {
  background-color: #89AF5C;
  background-image: url(./img/question/ellipse.svg);
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 1550px) {
  .question {
    padding-top: calc(65px + 65 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .question {
    padding-bottom: calc(65px + 65 * (100vw - 390px) / 1160);
  }
}
.question__blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.question__block {
  flex: 0 0 46%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1550px) {
  .question__block {
    padding-top: calc(20px + 20 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .question__block {
    padding-bottom: calc(20px + 20 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) {
  .question__block {
    flex: 0 0 100%;
  }
}
.question__block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question__block-title h3 {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  line-height: 1.35;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .question__block-title {
    font-size: clamp(14px, 14px + 15.3 * (100vw - 390px) / 1550, 23px);
  }
}
@media (min-width: 767px) {
  .question__block-title {
    font-size: clamp(14px, 14px + 9 * 100vw / 1550, 23px);
  }
}
@media only screen and (max-width: 1199px) {
  .question__block-title {
    font-size: 14px;
  }
}

.benefits {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 1550px) {
  .benefits {
    padding-top: calc(65px + 65 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .benefits {
    padding-bottom: calc(65px + 65 * (100vw - 390px) / 1160);
  }
}
.benefits__conteiner {
  background-color: #FFDC42;
  border-radius: clamp(20px, 5.16vw, 80px);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 15px;
}
@media only screen and (max-width: 767px) {
  .benefits__conteiner {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) and (max-width: 1550px) {
  .benefits__conteiner {
    padding-top: calc(25px + 75 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) and (max-width: 1550px) {
  .benefits__conteiner {
    padding-left: calc(15px + 85 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) and (max-width: 1550px) {
  .benefits__conteiner {
    padding-bottom: calc(6px + 14 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 1023px) {
  .benefits__conteiner {
    padding-right: 100px;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 1550px) {
  .benefits__conteiner {
    padding-right: calc(15px + 85 * (100vw - 390px) / 1160);
  }
}
.benefits__text {
  max-width: 761px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1550px) {
  .benefits__text {
    padding-top: calc(25px + 75 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .benefits__text {
    padding-left: calc(0px + 100 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .benefits__text {
    padding-bottom: calc(0px + 100 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) {
  .benefits__text {
    padding: 0;
    align-items: center;
  }
}
.benefits__title {
  width: 585px;
}
@media (max-width: 1550px) {
  .benefits__title {
    width: calc(266px + 319 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 767px) {
  .benefits__title .title {
    font-size: clamp(22px, 22px + 30.6 * (100vw - 390px) / 1550, 40px);
  }
}
@media (min-width: 767px) {
  .benefits__title .title {
    font-size: clamp(22px, 22px + 18 * 100vw / 1550, 40px);
  }
}
.benefits__title .title .title__span,
.benefits__title .title ::after,
.benefits__title .title ::before {
  background-color: #fff;
}
.benefits__list {
  margin-bottom: 50px;
  margin-top: 50px;
}
@media (max-width: 1550px) {
  .benefits__list {
    margin-bottom: calc(30px + 20 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .benefits__list {
    margin-top: calc(30px + 20 * (100vw - 390px) / 1160);
  }
}
.benefits__item {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}
.benefits__download {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .benefits__download {
    flex-wrap: wrap;
  }
}
.benefits__img {
  text-align: end;
}
@media only screen and (max-width: 1023px) {
  .benefits__img {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .benefits__img {
    display: inherit;
  }
}
.benefits__img img {
  margin-top: 20px;
  transform: translateY(2%);
  width: 690px;
}
@media (max-width: 1550px) {
  .benefits__img img {
    width: calc(300px + 390 * (100vw - 390px) / 1160);
  }
}

.footer {
  background-color: #000;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1550px) {
  .footer {
    padding-top: calc(45px + 15 * (100vw - 390px) / 1160);
  }
}
@media (max-width: 1550px) {
  .footer {
    padding-bottom: calc(45px + 15 * (100vw - 390px) / 1160);
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.footer__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .footer__conteiner {
    flex-direction: column;
    align-items: start;
  }
}
@media only screen and (max-width: 767px) {
  .footer__nav, .footer__logo {
    margin-bottom: 35px;
    margin-bottom: 35px;
  }
  .footer__nav .nav__list, .footer__logo .nav__list {
    flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__comunication {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */