
body{
  //font
  font-family: "TT Travels", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #5c5c5c;
  @include adaptiv-font(22, 16);
  @include mq(desktop) {
    font-size: 16px;
  }
}

.none {
  // display: none !important;
}

.revers {
  flex-direction: row-reverse;
}

.wrapper {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px
}

.title {
  font-weight: 700;
  line-height: 1.3;
  color: #191919;
  @include adaptiv-font(40, 22);
  @include mq(desktop) {
    font-size: 22px;
  }

  mark {
    color: $color-green;
    background-color: transparent; 
  }

  &__span {
    display: inline-block;
    position: relative;
    width: 10px;
    margin-left: 15px;
    border-radius: 50px;
    height: 3px;
    background-color: $color-green;
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      border-radius: 50px;
      height: 3px;
      background-color: $color-green;
    }
    &::after {
      left: 15px;
      width: 70px;
    }
    &::before {
      right: 15px;
      width: 10px;
    }
  }
}

.yellow-title {
  color: #fff;
  mark {
    color: $color-yellov;
  }
  span,
  ::after,
  ::before {
    background-color: #fff;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  all: unset;
  display: inline-block; /* або block/inline-flex, в залежності від потреб */
  cursor: pointer;
}