.comunication {
  background-color: $color-yellov;
  border-radius: 20px;
  box-sizing: border-box;
  @include flex-center;
  padding: 0 25px;
  height: 64px;
  &:active {
    background-color: #c4a418;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
  }
  &__text {
    font-family: "TT Travels", sans-serif;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #191919;
    @include adaptiv-font(20, 13)   
  }
}