
.download {
  gap: 15px 35px;
  
  &__item {
    width: 100%;
    min-width: 318px
  }

  &__link {
    @include flex-center;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    @include adaptiv-value(padding, 20, 12)
  }

  &__img {
    @include adaptiv-value(width, 62, 37)
  }

  &__text {
    color: #191919;
    font-weight: 700;
    line-height: 1.875;
    text-transform: uppercase;
    @include adaptiv-font(13, 10);
    strong {
      @include adaptiv-font(16, 12);
    }
  }
}
