
.download {
  gap: 15px 35px;
  
  &__item {
    max-height: 100px;
    width: 100%;
  }
  
  &__link {
    @include flex-center;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 20px;

  }

  &__text {
    color: #191919;
    font-weight: 700;
    // font-size: 16px;
    @include adaptiv-font(13, 10);
    line-height: 1.875;
    text-transform: uppercase;
    strong {
      @include adaptiv-font(16, 12);
    }
  }
  &__img {
    
  }

}
