.benefits {
  padding-right: 15px;
  padding-left: 15px;
  @include adaptiv-value(padding-top, 130, 65);
  @include adaptiv-value(padding-bottom, 130, 65);

  &__conteiner {
    background-color: $color-yellov;
    border-radius: clamp(20px, 5.16vw, 80px);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 15px;
    //Mq
    @include mq(tablet) {
      flex-wrap: wrap;
      justify-content: center;
      @include adaptiv-value(padding-top, 100, 25);
      @include adaptiv-value(padding-left, 100, 15);
      @include adaptiv-value(padding-bottom, 20, 6);
    }
    @include mq(mDesktop) {
      @include adaptiv-value(padding-right, 100, 15);
    }
  }

  &__text {
    max-width: 761px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiv-value(padding-top, 100, 25);
    @include adaptiv-value(padding-left, 100, 0);
    @include adaptiv-value(padding-bottom, 100, 0);
    // Mq
    @include mq(tablet) {
      padding: 0;
      align-items: center;
    }    
  }

  &__title {
    @include adaptiv-value(width, 585, 266);
    .title {
      @include adaptiv-font(40,22);
      .title__span,
      ::after,
      ::before {
        background-color: #fff;
      }
    }
  }

  &__list {
    @include adaptiv-value(margin-bottom, 50,30);
    @include adaptiv-value(margin-top, 50,30)
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
  }

  &__download {
    display: flex;
    @include mq(tablet) {
      flex-wrap: wrap;
    }
  }

  &__img {
    // Media Qeury 
    text-align: end;
    @include mq(mDesktop) {
      display: none;
    }
    @include mq(tablet) {
      display: inherit;
    }
    img{
      margin-top: 20px;
      transform: translateY(2%);
      @include adaptiv-value(width, 690, 300)
    }
  }
}
