.header {
  background-color: green;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  @include adaptiv-value(padding-top, 30, 25);

  &__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Media query
  @include mq(tablet, min) {
    &__conteiner {
    border-bottom: 1px solid rgba(255, 255, 255, 19%);
    border-top: 1px solid rgba(255, 255, 255, 19%);
    padding: 10px 15px;
    }

  }

  @include mq(tablet) {
    &__comunication {
      display: none;
    }
    &__nav {
      display: none;
    }
  }
}
