.intro {
  background-color: $color-green;
  padding: 230px 0 100px;
  background-image: url(/img/intro/Vector3.svg);
  background-repeat: no-repeat;
  background-size: cover;

  &__conteiner {
    margin: 0 15px;
    height: 676px;
    background-color: $color-yellow;
    border-radius: 80px;
    background-image: url(/img/intro/plenet.svg);
  }

  &__text {
    max-width: 661px;
  }

  &__advantages {
    display: flex;
  }
  
  &__advanteges-item {
    color: #010101;
    border: 1px solid #010101;
  }

  &__title {
  }

  &__title-text {
  }

  &__download {
  }

  &__img {
  }
}