.logo{
  
  &__link {
    display: flex;
    align-items: center;
    gap: 20px;  
  }
  &__img {
    max-width: 105px;
    width: 87.5%;
    height: auto;
    display: block;
  }
  &__text {
    font-family: "Xolonium", sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    @include adaptiv-font(20, 12);

    //Media query
    @include mq(desktop) {
      display: none;
    }
    @include mq(tablet) {
      display: inherit;
    }
  }
}