
.nav {
  
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  &__items {
    display: flex;
    gap: 40px;
  }
  &__link {
    font-family: "TT Travels", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #fff;
    display: block;
    &:hover{
      color:grey
    }
    @include adaptiv-font(18, 16)    
  }
  //Media query
  @include mq(mtablet) {
    &__list {
      gap: 10px;
    }
  }
  @include mq(tablet) {
    display: none;
  }

}